# Ignore macOS .DS_Store files
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore MyPy cache
.mypy_cache

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__

# Ignore generated aspect ratios and resolutions files
aspect_ratios.txt
resolutions.txt
