/* Margin and gap adjustments for aspect ratio containers */
#arsp__txt2img_container_aspect_ratio,
#arsp__img2img_container_aspect_ratio {
    gap: 5px !important;
    margin: 3px 0;
}

/* Gap adjustments for rows related to aspect ratio and resolutions */
#arsp__txt2img_row_aspect_ratio,
#arsp__txt2img_row_resolutions,
#arsp__img2img_row_aspect_ratio,
#arsp__img2img_row_resolutions {
    gap: 8px;
}

/* Button styles within aspect ratio and resolutions rows */
#arsp__txt2img_row_aspect_ratio button,
#arsp__txt2img_row_resolutions button,
#arsp__img2img_row_aspect_ratio button,
#arsp__img2img_row_resolutions button {
    gap: 10px !important;
    max-width: unset !important;
}

/* Button styles for specific buttons */
button#arsp__arc_show_calculator_button,
button#arsp__arc_hide_calculator_button,
button#arsp__arc_show_logic_button,
button#arsp__arc_hide_logic_button {
    max-width: 40px !important;
    min-width: unset !important;
    padding: var(--size-0-5) var(--size-2) !important;
}

/* Styling for arsp__arc_ar_display_text */
#arsp__arc_ar_display_text {
    height: 22px;
    overflow: hidden !important;
}

/* Fix for Lobe theme */
.hide.svelte-1ipelgc {
    display: none !important;
}
.primary.svelte-1ipelgc {
    background: var(--button-primary-background-fill) !important;
}
.secondary.svelte-1ipelgc {
    background: var(--button-secondary-background-fill) !important;
}
